.savedCards-title {
    color: #fff;
    margin: 30px 0px 0px 0px;
    font-size: 1.5rem;
    font-weight: 600;
}
.card_container {
   
    width: 100%;
    color: #0F0F10;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
   
    margin: 10px 0px;
    
    
}
.card-name {
    font-family: 'Grape Nuts', cursive;
    font-size: 2.2rem;
    color:$name-color;

}
.card-description, .card-weather, .card-description-main  {
    @include spaceBetween;
    flex-direction: column;
    align-items: flex-start;
    font-size: clamp(14px, 0.1rem + 2vw, 18px);
    margin-bottom: 20px;
}
.card-description {
    max-width: 90%;
}
.card-weather {
    min-width: 10rem;
    margin-left: 2rem;
}
// cards that were saved before 
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 1%;
    //width: 100%;
    flex: 25%;
    background-color: $color-white;
    margin: 1vw;
    height: 400px;
  }
  .learnMoreBtn{
    width: 100px;
    height: 2rem;
    margin-top: 2%;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: $button-background-color;
    color: #fff;
    align-items: center;
  }

.londonMap, .berlinMap, .sydneyMap, .tokyoMap{
    height: 100px;
    width: 150px;
}

div{
    font-family: 'Quicksand', sans-serif; 
}