.card_container {
    background-color: $color-white;
   width: 100%;
    color: $color-black;
    @include center;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #fff;
    margin: 10px 0px;
    
    
}

.card-description {
    @include spaceBetween;
    flex-direction: column;
    align-items: flex-start;
    font-size: clamp(14px, 0.1rem + 2vw, 18px);
}