.text_line {
    display: flex;
    color: #FFFFFF;
    width: 70vw;
    padding: 10px;
    padding-bottom: 10px;
    font-size: 1.3rem;
    }
    
.currentDate {
    display: flex;
    justify-content: end;
    color: #FFFFFF;
    width: 100%;
    padding: 10px; 
    padding-bottom: 5px;
    padding-right: 0;
    font-size: 1.1rem;
    }