
    
.currentDate {
    display: flex;
    justify-content: end;
    color: #FFFFFF;
    width: 100%;
    padding: 10px; 
    padding-bottom: 5px;
    padding-right: 0;
    font-size: 1rem;
    text-align: center;
    }