.footer {
    margin-top: 10vw;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.poweredby {
    font-size: 0.7rem;

}

.footer_logo {
    width: 25px;
    height: 25px;
}