.card_container_main {
    width: 100%;
    color: #0F0F10;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 10px ;
  }
  .card_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 3%;
    width: 100%;
    margin: 1vw;
  }

  .card-container-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5vw;
  }
  .card-subtitle{
    text-align: center;
    align-self: center;
  }

  .card-main-error{
    background-color: #e8cbcb;
    color: rgb(125, 21, 21);
    width: 80%;
    padding: 10px;
    margin: 20px 1vw;
    border-radius: 5px;
  }