.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 1rem 0 0 0;
   
    
}
.autocompleteInput {
    flex:60%;
    height: 2rem;
    min-width: 100px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-left: 10px;
    color: $input-color;
    font-weight: 600;
   
   

}
.button {
    width: 100px;
    height: 2rem;
    
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: $button-background-color;
    color: #fff;
   

}


.b-test {
    display: block;
    align-self: center;
    justify-self: center;

}
.b-1 {
    background-color:rgba(235, 243, 80, 0.4);
}