.form {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //gap: 10px;
    margin: 2rem 0;
    padding: 0 7vw;
    align-items: center;
    justify-content: center;


}

.autocompleteInput {
    flex: 60%;
    height: 2rem;
    min-width: 100px;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-left: 10px;
    color: $input-color;
    font-weight: 600;
    margin: 1vw;



}

.button {
    width: 100px;
    height: 2rem;
    margin: 10px 1vw;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: $button-background-color;
    color: #fff;

    background: rgb(63,251,178);
    background: linear-gradient(300deg, rgba(63,251,178,1) 9%, rgba(0,41,255,1) 100%);
}

button:hover {
    background: rgba(252, 70, 107, 1);
    background: linear-gradient(300deg, rgba(252, 70, 107, 1)9%, rgba(0,41,255,1) 100%);
    // background: rgb(63, 94, 251);
    // background: linear-gradient(300deg, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 81%);
}

.b-test {
    display: block;
    align-self: center;
    justify-self: center;

}

.b-1 {
    background-color: rgba(235, 243, 80, 0.4);
}