/*------- colors  ------*/ /* ---- mixins -----*/ /*----- typo mixins -----*/ /*--------- base -------*/
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  /*height: 100%;*/
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  color: black;
  background-color: rgb(5, 2, 39);
  min-height: 100vh;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

a, button {
  -webkit-tap-highlight-color: transparent;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  width: 70vw;
  padding: 5px;
}

.title {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  color: black;
  font-size: 3rem;
}

.subtitle-h3 {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 2.75rem;
  color: black;
  font-size: 1.5rem;
}

.subtitle-body {
  font-family: "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  color: black;
  font-size: 1.5rem;
}

/*@media screen and (min-width: 768px) {
    html {
        font-size: 2.1vw;
    }
}*/
@media screen and (min-width: 1600px) {
  html {
    font-size: 0.83vw;
  }
}
/*                                     */
/* ------- THE PROJECT BEGINNING  ---- */
/*                                     */
.card_container {
  width: 100%;
  color: #0F0F10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px;
}

.card-name {
  font-size: 1.8rem;
  color: rgb(5, 75, 215);
}

.card-description, .card-weather {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  font-size: clamp(14px, 0.1rem + 2vw, 18px);
  margin-bottom: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2%;
  flex: 25%;
  background-color: #FFFFFF;
  margin: 1vw;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.autocompleteInput {
  flex: 60%;
  height: 2rem;
  min-width: 100px;
  border-radius: 5px;
  border: 1px solid #fff;
  padding-left: 10px;
  color: rgb(5, 75, 215);
  font-weight: 600;
}

.button {
  width: 100px;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: rgb(5, 75, 215);
  color: #fff;
}

.b-test {
  display: block;
  align-self: center;
  justify-self: center;
}

.b-1 {
  background-color: rgba(235, 243, 80, 0.4);
}

.card_container_main {
  width: 100%;
  color: #0F0F10;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}

.card_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFFFFF;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2%;
  width: 100%;
  margin: 1vw;
}

.card-container-info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.card-subtitle {
  text-align: center;
  align-self: center;
}

/*                                     */
/* ------- THE TEST ZONE ---- *//*# sourceMappingURL=style.css.map */