/*--------- base -------*/
* {
    box-sizing: border-box;
    
}

body,
html {
    margin: 0;
    padding: 0;
    
    @include typo-body;
     //background-color: $html-background-color;
    background-color: rgb(0, 0, 0);

   
    font-family: Helvetica, Arial, sans-serif; 
    @include center;
    
}
body {
    background: linear-gradient(180deg, rgba(12,38,121,0.9641981792717087) 15%, rgb(10, 120, 167) 40%, rgb(100, 186, 247) 100%);
    min-height: 100vh;
    width: 100%;
}
h1{
    //font-family: 'Moirai One', system-ui;
    margin: 0 0 3rem 0;
    font-size: 3rem;
    text-align: center;
}
.fa-solid{
    font-size: 45pt;
 }
 .logoIcon {
    width: 100px;
    margin: 0 0 3rem 0;
 }
button {
    -webkit-tap-highlight-color: transparent;
   // font-family: 'Grape Nuts', cursive;
    background: rgb(174,229,238);
background: radial-gradient(circle, rgba(174,229,238,1) 0%, rgba(37,103,223,1) 100%);
}
button:hover {
    background: rgb(189,174,238);
background: radial-gradient(circle, rgba(189,174,238,1) 0%, rgba(148,187,233,1) 100%);
}

.main {
    @include center;
    flex-direction: column;
    color: $color-white;
    //max-width: 95vw;
   padding: 2vw;
    //height: 100vh;
    background-color: transparent;
    //margin: 0 0 50px 0;
  
}
.title {
    @include typo-h;
    font-size: 3rem;
    
}
.subtitle-h3{
    @include typo-h;
    font-size: 1.5rem;
}
.subtitle-body{
    @include typo-subtitle-body;
    font-size: 1.5rem;
}


/*@media screen and (min-width: 768px) {
    html {
        font-size: 2.1vw;
    }
}*/

@media screen and (min-width: 1600px) {
    html {
        font-size: 0.83vw;
    }
}
