/*--------- base -------*/
* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    /*height: 100%;*/
    @include typo-body;
    background-color: $html-background-color;
    min-height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    @include center;
    
}

a, button {
    -webkit-tap-highlight-color: transparent;
}

.main {
    @include center;
    flex-direction: column;
    color: $color-white;
    width: 70vw;
    padding: 5px;
    
  
}
.title {
    @include typo-h;
    font-size: 3rem;
}
.subtitle-h3{
    @include typo-h;
    font-size: 1.5rem;
}
.subtitle-body{
    @include typo-subtitle-body;
    font-size: 1.5rem;
}


/*@media screen and (min-width: 768px) {
    html {
        font-size: 2.1vw;
    }
}*/

@media screen and (min-width: 1600px) {
    html {
        font-size: 0.83vw;
    }
}
