/*------- colors  ------*/
$color-black: #0F0F10;
$color-white: #FFFFFF;

$html-background-color:rgb(5, 2, 39);
$button-background-color:rgb(5, 75, 215);
$input-color:rgb(5, 75, 215);
$name-color:rgb(5, 75, 215);
