/*------- colors  ------*/
$color-blue: #09035D;
$color-lightGrey: #aeafb8;
$color-violet: #EDEBFC;
$color-black: #0F0F10;
$color-darkviolet: #7871DE;
$color-white: #FFFFFF;
$color-green: #9FDB3D;
$color-BlueViolet: #9747FF;
$color-MidnightExpress: #030848;
$color-DodgerBlue: #0B84EE;
$color-SummerSky: #27A6E5;
$color-DodgerBlue: #0077FF;
$color-Nero: #252424;
$color-LightSlateBlue: #7B61FF;
$color-LightSlateBlue-opacity80: rgba(120, 113, 222, 0.80);
$color-LightSlateBlue-opacity50: rgba(120, 113, 222, 0.50);