/*----- typo mixins -----*/
$font-title: 'Helvetica', sans-serif;
$font-body:  'Helvetica', sans-serif;
$font-body-bold:  'Helvetica', sans-serif;
$fontColor: black;


@mixin typo-body {
    font-family: $font-body;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    color: $fontColor;
}
@mixin typo-subtitle-body {
    font-family: $font-body;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    color: $color-lightGrey;
}

@mixin typo-body-bold {
    font-family: $font-body-bold;
    font-style: normal;
    line-height: normal;
    margin: 0;
}

@mixin typo-h {
    font-family: $font-title;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    line-height: 2.75rem;
    color: $fontColor;
}